.signature{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signature_wrapper{
    width: 50%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.signature_header{
    margin-top: 120px;
}

.signature_subHeader{
    margin-top: 15px;
    margin-bottom: 30px;
    color: #ff4562;
}

.signature_firstPara, .signature_secondPara{
    margin-bottom: 30px;
}

.signature_byWho{
    margin-bottom: 120px;
    color: #ff4562;
}